:root {
	--ff: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	--bg-clr: #cbd5e1;
	--main-clr: #ffffff;
	--acc-clr1: #f43f5e;
	--acc-clr2: #fda4af;
	--gray1: #62626288;
	--gray2: #30303088;

	--fs-p: 1.5rem;
	--fs-h: 2rem;
	--fs-popup: 0.8rem;
	--fs-button: 1.2rem;

	--fw-n: 500;
	--fw-b: 600;

	--shadow: 0px 0px 10px #383838;
	--offset-shadow: 5px 5px 10px #383838;
	--br: 10px;

	--popup-scale: 120%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--ff);
	min-height: 100vh;
	width: 100vw;
	background-color: var(--bg-clr);
	font-size: var(--fs-p);
	font-weight: var(--fw-n);
}

.scaffold {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template: auto 1fr / 1fr;
	grid-template-areas:
		'header'
		'content';
}

.header {
	grid-area: header;
	background-color: var(--main-clr);
	box-shadow: var(--shadow);
	padding-left: 50px;
	font-size: var(--fs-h);
	border-bottom: 20px solid var(--acc-clr1);
}

.books-grid {
	grid-area: content;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(280px, 80vw), 1fr));
	justify-items: center;
	padding: 30px;
	gap: 13px;
}

.card {
	width: min(280px, 80vw);
	height: 350px;
	display: grid;
	align-content: space-around;

	background-color: var(--main-clr);
	border-radius: var(--br);
	box-shadow: var(--offset-shadow);
}

.card:not(.popup) {
	justify-content: center;
	align-content: stretch;
	align-items: center;
	grid-template-columns: 1fr 1fr;
}

.card:not(.popup) > :not(button) {
	justify-self: center;
	grid-column-end: span 2;
}

.card:not(.popup) > button {
	align-self: stretch;
	border: 2px solid var(--main-clr);
}

.card button.read-field.read {
	background-color: var(--acc-clr1);
}

.card button.read-field.not-read {
	background-color: var(--acc-clr2);
}

.add-card {
	grid-template: 1fr / 1fr;
	justify-items: center;
	align-items: center;
}

.add-symbol {
	transform: scale(600%);
	fill: var(--gray1);
}

.popup-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: var(--gray2);
	z-index: 1;
}

.popup-container.shown {
	display: flex;
}

.popup {
	font-size: var(--fs-popup);
	padding: 30px;
}

.popup-container.shown .popup {
	animation: appear 0.4s;
	transform: scale(var(--popup-scale));
}

.popup input:not([type='checkbox']) {
	width: 100%;
	padding: 0.5rem 5px;
	border-radius: var(--br);
	border: none;
	outline: none;
	font-weight: var(--fw-b);
	background-color: var(--acc-clr2);
}

::placeholder {
	color: var(--main-clr);
}

.popup .read-section {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.popup .read-section #read {
	accent-color: var(--acc-clr2);
}

.popup .add-button {
	width: 100%;
	height: 50px;
	margin-bottom: -30px;
}

button {
	border-radius: var(--br);
	background-color: var(--acc-clr1);
	border: none;
	color: var(--main-clr);
	font-weight: var(--fw-b);
	font-size: var(--fs-button);
}

.hidden {
	display: none;
}

@keyframes appear {
	from {
		transform: scale(0%);
	}
	to {
		transform: scale(var(--popup-scale));
	}
}
